<tr>
	<th> <%= NumCorrida %> </th>
	<th><%= StatusCorrida%> </th>
	<th> <%= Acc%>% </th>
	<th class="noneBorder">
		<form method="post" action="/corrida-detail">
			<input type="submit" class="button" value="Ver">
		</form>
	</th>
</tr>