body {
	background: linear-gradient(45deg, #49a09d, #26473b);
}

th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

tr {
	padding: 2px;
}

.title {
	padding: 20px;
	font-size: 30px;
	font-family: 'Droid Sans',
		arial,
		serif;

}

.data {
	font-size: 23px;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(255, 255, 255);
}
.datas {
	font-size: 17px;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(255, 255, 255);
}

.table {
	width: 60%;
	margin-left: 19%;
	margin-top: 5%;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Droid Sans', arial, serif;
		margin-bottom:100px;
}

.plus {
	background-color: green;
	font-size: 250%;
}

.numAC {
		width: 30%;
		margin-left: 35%;
		margin-top: 5%;
		text-align: center;
		border: 1px solid rgb(0, 0, 0);
		border-collapse: collapse;
}

.buttonValid {
	background-color: transparent;
	border-color: transparent ;
	font-size: 30px;
	margin-right: 5%;
}

.oloco{
	margin-left: 49%;
	margin-bottom: 100px;
	margin-top: 30px;
}




*,
*:before,
*:after {
	box-sizing: border-box;
}

.buttons {
	text-align: center;
	margin-top: 25px;
}

.buttons a.button {
	display: inline-block;
	margin: 25px;
	background: #20292c;
	color: white;
	padding: 20px;
	text-decoration: none;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	position: relative;
	transition: 0.25s ease-in-out;
	border-radius: 3px;
}

.buttons a.button:before,
.buttons a.button:after,
.buttons a.button span {
	transition: 0.25s ease-in-out;
}

.buttons a.button.mail {
	position: relative;
	overflow: hidden;
}

.buttons a.button.mail span {
	display: block;
	position: relative;
	bottom: 0px;
}

.buttons a.button.mail:before {
	content: "\f00c";
	font-family: FontAwesome;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: -100%;
	left: 0;
	position: absolute;
}

.buttons a.button.mail:hover {
	background: #53af09;
}

.buttons a.button.mail:hover span {
	bottom: -56px;
}

.buttons a.button.mail:hover:before {
	top: 0%;
}

.buttons a.button.back {
	position: relative;
	overflow: hidden;
}

.buttons a.button.back span {
	display: block;
	position: relative;
	bottom: 0px;
}

.buttons a.button.back:before {
	content: "\f190";
	font-size: 20px;
	font-family: FontAwesome;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: -100%;
	left: 0;
	position: absolute;
}

.buttons a.button.back:hover {
	background: #53af09;
}

.buttons a.button.back:hover span {
	bottom: -56px;
}

.buttons a.button.back:hover:before {
	top: 0%;
}



.buttonsW a.button.wiggle:after {
	content: '\f054';
	font-family: FontAwesome;
	display: inline-block;
	max-width: 0;
	margin-left: 0px;
	position: relative;
	z-index: 2;
	color: rgba(255, 255, 255, 0);
	left: -50px;
}

.buttonsW a.button.wiggle:hover {
	background: #53af09;
	color: black;
}

.buttonsW a.button.wiggle:hover:after {
	max-width: 100px;
	margin-left: 10px;
	left: 0px;
		color: black;

	animation: wiggle 1s 0.25s ease-in-out infinite;
}


.buttonsW a.button {
	display: inline-block;
	margin: 25px;
	background: #20292c;
	color: white;
	padding: 6px;
	text-decoration: none;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	position: relative;
	transition: 0.25s ease-in-out;
	border-radius: 3px;
}


