body{
		 background: linear-gradient(45deg, #49a09d, #26473b);
		 height: 0vh;
}



th,
td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

tr {
	padding: 2px;
}
.title {
	padding: 20px;
	font-size: 30px;
	font-family: 'Droid Sans',
	arial,
	serif;

}

table {
	width:70%;
	margin-left: 15%;
	margin-top: 5%;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Droid Sans', arial, serif;
}	

.plus {
	background-color: green;
	font-size: 250%;
}

 .buttons a.button.delete {
 	position: relative;
 	overflow: hidden;
 }

 .buttons a.button.delete span {
 	display: block;
 	position: relative;
 	bottom: 0px;
 }

 .buttons a.button.delete:before {
 	content: '\f1f8';
 	font-family: FontAwesome;
 	display: block;
 	width: 100%;
 	height: 100%;
 	padding: 20px;
 	top: -100%;
 	left: 0;
 	position: absolute;
 }

.noneBorder{
	border-right: none;
}

.inputLabels {
	border: none;
	text-align: center;
	font-size: 24px;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(255, 255, 255);
	background-color: transparent;
	pointer-events:none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.buttons {
	text-align: center;
	margin-top: 25px;
}

.buttons a.button {
	display: inline-block;
	margin: -5px;
	margin-top: 1px;
	background: #20292c;
	color: white;
	padding: 20px;
	text-decoration: none;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	position: relative;
	transition: 0.25s ease-in-out;
	border-radius: 3px;
}

.buttons a.button:before,
.buttons a.button:after,
.buttons a.button span {
	transition: 0.25s ease-in-out;
}

.buttons a.button.mail {
	position: relative;
	overflow: hidden;
}

.buttons a.button.mail span {
	display: block;
	position: relative;
	bottom: 0px;
}

.buttons a.button.mail:before {
	content: "\f002";
	font-family: FontAwesome;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: -100%;
	left: 0;
	position: absolute;
}

.buttons a.button.mail:hover {
	background: #53af09;
}

.buttons a.button.mail:hover span {
	bottom: -56px;
}

.buttons a.button.mail:hover:before {
	top: 0%;
}

.buttons a.button.delete {
	position: relative;
	overflow: hidden;
}

.buttons a.button.delete span {
	display: block;
	position: relative;
	bottom: 0px;
}

.buttons a.button.delete:before {
	content: '\f1f8';
	font-family: FontAwesome;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: -100%;
	left: 0;
	position: absolute;
}

.buttons a.button.delete:hover {
	background: #cb3017;
}

.buttons a.button.delete:hover span {
	bottom: -56px;
}

.buttons a.button.delete:hover:before {
	top: 0%;
}




.file-upload {
	background-color: #ffffff75;
	width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1FB264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824B;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.file-upload-btn:hover {
	background: #1AA059;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	margin-top: 2px;
	border: 4px dashed rgb(36, 105, 69);
	position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #1FB264;
	border: 4px dashed #ffffff;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	padding: 60px 0;
	font-size: 150%;
}

.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}

.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all .2s ease;
}


.buttonSend {
	margin-left: 50%;
	margin-top: 5%;
}

.buttonUpload {
	border-radius: 28px;
	left: 50%;
	top: 50%;
	display: block;
	background: #fff;
	width: 150px;
	box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.buttonUpload svg {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	fill: #fff;
}

.buttonUpload div {
	height: 4px;
	margin: -2px 0 0 0;
	position: absolute;
	top: 50%;
	left: 71px;
	right: 25px;
	background: #d3d7e0;
	display: none;
	border-radius: 2px;
}

.buttonUpload div span {
	position: absolute;
	background: #28e470;
	height: 4px;
	left: 0;
	top: 0;
	width: 0;
	display: block;
	border-radius: 2px;
}

.buttonUpload a {
	position: relative;
	display: block;
	background: #3f82d7;
	z-index: 2;
	line-height: 56px;
	height: 56px;
	border-radius: 28px;
	width: 100%;
	text-align: center;
	color: #fff;
	box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
}

.buttonUpload a span {
	cursor: pointer;
	display: block;
}




