body{
		 background: linear-gradient(45deg, #49a09d, #26473b);
		 height: 0vh;
}



th,
td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

tr {
	padding: 2px;
}
.title {
	padding: 20px;
	font-size: 30px;
	font-family: 'Droid Sans',
	arial,
	serif;

}

table {
	width:70%;
	margin-left: 15%;
	margin-top: 5%;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Droid Sans', arial, serif;
}	

.plus {
	background-color: green;
	font-size: 250%;
}

 .buttons a.button.delete {
 	position: relative;
 	overflow: hidden;
 }

 .buttons a.button.delete span {
 	display: block;
 	position: relative;
 	bottom: 0px;
 }

 .buttons a.button.delete:before {
 	content: '\f1f8';
 	font-family: FontAwesome;
 	display: block;
 	width: 100%;
 	height: 100%;
 	padding: 20px;
 	top: -100%;
 	left: 0;
 	position: absolute;
 }




.noneBorder{
	border-right: none;
}

/* input{
	border: none;
	text-align: center;
	font-size: 24px;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(255, 255, 255);
	background-color: transparent;
	pointer-events:none;
} */





*,
*:before,
*:after {
	box-sizing: border-box;
}

.buttons {
	text-align: center;
	margin-top: 25px;
}

.buttons a.button {
	display: inline-block;
	margin: -5px;
	margin-top: 1px;
	background: #20292c;
	color: white;
	padding: 20px;
	text-decoration: none;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	position: relative;
	transition: 0.25s ease-in-out;
	border-radius: 3px;
}

.buttons a.button:before,
.buttons a.button:after,
.buttons a.button span {
	transition: 0.25s ease-in-out;
}

.buttons a.button.mail {
	position: relative;
	overflow: hidden;
}

.buttons a.button.mail span {
	display: block;
	position: relative;
	bottom: 0px;
}

.buttons a.button.mail:before {
	content: "\f002";
	font-family: FontAwesome;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: -100%;
	left: 0;
	position: absolute;
}

.buttons a.button.mail:hover {
	background: #53af09;
}

.buttons a.button.mail:hover span {
	bottom: -56px;
}

.buttons a.button.mail:hover:before {
	top: 0%;
}

.buttons a.button.delete {
	position: relative;
	overflow: hidden;
}

.buttons a.button.delete span {
	display: block;
	position: relative;
	bottom: 0px;
}

.buttons a.button.delete:before {
	content: '\f1f8';
	font-family: FontAwesome;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: -100%;
	left: 0;
	position: absolute;
}

.buttons a.button.delete:hover {
	background: #cb3017;
}

.buttons a.button.delete:hover span {
	bottom: -56px;
}

.buttons a.button.delete:hover:before {
	top: 0%;
}
