<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/corrida-check.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	
	
	<h1 style="font-size:70px">Esta corrida jรก foi <br><br><span style="font-size: 90px;color: rgb(141, 25, 25)">DESPACHADA!</span>	
		<br><br>Escolha outra
		corrida para despachar!</h1>
	
	<form method="post" action="/" class="buttons" id="back">
		<a type="submit" style="cursor: pointer;" name="back" class="button error" onClick="getId()"><span>Voltar</span></a>
	</form>
	

	<script src="/app.js"></script>
	<script>
		function getId() {
			document.getElementById('back').submit()
		}
	</script>
</body>

</html>
