<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/corrida-check.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
		<form method="post" action="/" class="buttons" id="back">
			<a type="submit" style="cursor: pointer; margin-left: -94%;
    margin-top: -0.6%;" name="back" class="button back" onClick="getId()"><span>Voltar</span></a>
		</form>


	<h1>Corrida:  <span class="data"><%= corrida %> </span><br><br>DESPACHADA<br> com sucesso!</h1>

	<div  class="button-ok button-check oloco">
	</div>


	<script src="/app.js"></script>
	<script>
		function getId() {
			document.getElementById('back').submit()
		}
	</script>
</body>

</html>
