<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/corrida-check.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
	<form method="post" action="/">
		<input type="submit" class="button" value="Voltar">
	</form>

	<h1>Corrida despachada com sucesso!</h1>

	<div  class="button-ok button-check oloco">
	</div>


	<script src="/app.js"></script>
</body>

</html>
