<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/list.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

	<h1>Lista de corridas coletadas</h1>

	<table >
		<tr class='title'>
			<th> Nº da Corrida</th>
			<th>Status</th>
			<th>Acurácia</th>

		</tr>
		<tr>
			<th>15134124124</th>
			<th>Inadimplente</th>
			<th>98%</th>
			<th class="noneBorder">
					<form method="post" action="/">
						<input type="submit" class="button" value="Ver">
					</form>
			</th>
		</tr>
		<tr>
			<th>15134124124</th>
			<th>Despachada</th>
			<th>81%</th>
						<th class="noneBorder">
					<form method="post" action="/">
						<input type="submit" class="button" value="Ver">
					</form>
			</th>
		</tr>
		<tr>
			<th>15134124124</th>
			<th>Despachada</th>
			<th>81%</th>
						<th class="noneBorder">
					<form method="post" action="/">
						<input type="submit" class="button" value="Ver">
					</form>
			</th>
		</tr>
		<tr>
			<th>15134124124</th>
			<th>Despachada</th>
			<th>81%</th>
						<th class="noneBorder">
					<form method="post" action="/">
						<input type="submit" class="button" value="Ver">
					</form>
			</th>
		</tr>
		<tr>
			<th>15134124124</th>
			<th>Despachada</th>
			<th>81%</th>
						<th class="noneBorder">
					<form method="post" action="/">
						<input type="submit" class="button" value="Ver">
					</form>
			</th>
		</tr>
	</td>
		</tr>
	</table>
<br>
<br>
<br>
 <script src="/app.js"></script>
</body>

</html>
