<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/list.css">
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

	<h1>Lista de corridas coletadas</h1>

	<table >
		<tr class='title'>
			<th> Nº da Corrida</th>
			<th>Status</th>
			<th>Acurácia</th>
		</tr>

		
		<div class="row">
			
			

			<% var i=1;%>

			<% corrida.forEach(function(corrida) { %>

				<tr><form>
					<th><input name="NumCorrida" value="<%= corrida.nuMCorrida%>"></th>
					<th><input name="Status" value="<%= corrida.status%>"></th>
					<th><input name="Acc" value="<%= corrida.acc%>"></th>
					</form>
					
					<th class="noneBorder">	
						<form method="post" action="/corrida-detail" id="list">
							<button id="<%= i++ %>" type="submit" form="list" class="button" onClick="getId()">Ver</button>
							<input hidden id="MYid" name="id" type="text" value="OPA">
						</form>
					</th>
						
				</tr>
				<% }); %>
		</div>

				

	</table>
<br>
<br>
<br>
 <script src="/app.js"></script>
 <script>
	 function getId(){
		 addEventListener('click', function (ev) {
		 var ident = ev.target.id;
		 document.getElementById("MYid").value = ident;
		})
	 }
 </script>
</body>

</html>
