<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../css/list.css">
	 <link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

	<h1>Lista de corridas coletadas</h1>

	<table style="width:70%">
		<tr class='title'>
			<th> Nº da Corrida</th>
			<th>Status</th>
			<th>Acurácia</th>
			<th>Analizar</th>
		</tr>
		<tr>
			<th>15134124124</th>
			<th>Inadimplente</th>
			<th>98%</th>
			<th class='plus'>+</th>
		</tr>
		<tr>
			<th>15134124124</th>
			<th>Despachada</th>
			<th>81%</th>
			<th class='plus'>+</th>
		</tr>
	</td>
		</tr>
	</table>
<br>
<br>
<br>

<form method="post" action="/">
	<input type="submit" value="Like">
</form>
</body>

</html>
